/*main CSS2*/
:root{
--slack:#121212;
}

/**************************************ELEMENTS******************************/
body{
    min-height:100vh;
    margin:0;
    font-family: Lato, sans-serif;
    font-size: 17px;
}

h1{
    margin:0;
    color: #b6c4db;
}

h2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 6/ 8;
    grid-row: 2/ 3;
    width:100%;
    margin:0;
    border-bottom: #000000 solid 0.5px;
    font-weight: 200;
    font-size:3rem;
    

}

a{
    text-decoration: none;
}

/**************************************MAIN CLASSES**************************/
/*************Base Fonts*****************/
.sig{
    font-weight: bold;
    text-transform: capitalize;
}

.font-blue{
    color:#b6c4db; 
}

.font-purp{
    color: #50447f; 
    font-weight: 600;
}

.font-purp2{
    color:  #50447f; 
    font-weight: 600;
}

/***********************************HEADER********************/
#page-header{
    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    height:3rem;
    width:100vw;
    z-index: 15;
    padding:0 0 0 1rem;
    background-color: var(--slack);
    box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 6px, rgba(0, 0, 0, 0.4) 0px 3px 6px;
}

.section-header{
    grid-column: 2/ 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
    margin:0.3rem 0 0 0;
    padding:0 0 0 1rem;
}


/********************************NAV****************************/

#top-nav{
    display:flex;
    height:2.6rem;
    margin:0.2rem 2rem 0.2rem 2rem; 
}

#top-nav ul{
    display:flex;
    margin: 0;
    padding:0;
}

#top-nav li{
    display:flex;
    align-items: center;
    list-style: none;
    margin:0;
    padding:0;
}

.top-nav-a{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height:100%;
    min-width:fit-content;
    margin: 0.5rem;
    padding:0.3rem;
}

.top-nav-a:hover{
    
    margin:0 0.38rem 0 0.38rem;
    border: 0.12rem solid #50447f;
    border-radius: 0.17rem;
    background-color: #232323;
}

#top-nav-a-current{
    color: #50447f;
    border: 0.12rem solid #50447f;
    border-radius: 0.17rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/**********************************BGs*********************************/
main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    width:100%;
}

.std-section{
    display:grid;
    grid-row: 1/ 2;
    grid-column: 1/ 13;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    height:100vh;
}

/***********************************HOME PAGE********************************/
.pug-section{
    background: linear-gradient(
            rgba(10, 10, 10, 0.8), 
            rgba(10, 10, 10, 0.8)
                ),
        url(images/push-up-girl.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#home-content{
    grid-column: 3/ 7;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    height:6rem;
    min-width: 15rem;
    flex-wrap: wrap;
    margin-top:0;
}

.tag-line {
    display:flex;
    height:2rem;
    margin:0;
    padding:0;
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
}

#tag1{
    align-self: flex-start;
    height:4rem;
    word-wrap: wrap;
    align-items: flex-end;
}

#tag2{
    align-self: flex-end;
    min-width: 15rem;
}

#other-home{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/ 13;
    grid-row: 1/ 2;
    position: sticky;
    top:0;
    height: 43vh;
    min-height: 40vh;
    background: url("images/push-up-girl.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/************************************BOOT CAMPS*******************************/
.bootcamp-section{
    background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
                ),
        url(images/jogging.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bootcamp{
    grid-row:5/ 11;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#bootcamp1{
    grid-column: 2/ 6;
    background: linear-gradient(
            rgba(0, 0, 0, 0.95), 
            rgba(0, 0, 0, 0.95)
                ),
        url(images/log-training.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
}

#bootcamp2{
    grid-column: 8/ 12;
    background: linear-gradient(
            rgba(0, 0, 0, 0.95), 
            rgba(0, 0, 0, 0.95)
                ),
        url(images/women-boxing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/***************************************ABOUT**********************************/

#about{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/ 13;
    grid-row: 3/ 4;
    background-color: #ffffff;
}

#about-article{
    grid-column: 3/ 7;
}

#kim-bike{
    grid-column: 9/ 11;
    margin-top: 4rem;
    width: 100%;
}