/*main CSS3*/
:root{
    --slack:#121212;
    font-size: 18px;
}

/**************************************ELEMENTS******************************/

body{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height:100vh;
    margin:0;
    padding:0;
    font-family: Lato, sans-serif;
}

h1{
    margin:0;
    color: #b6c4db;
}

h2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 6/ 8;
    grid-row: 2/ 3;
    width:100%;
    margin:0;
    border-bottom: #000000 solid 0.5px;
    font-weight: 200;
    font-size:3rem;
}

h3{
    display: inline;
    margin:0;
    padding: 0 1rem 0 1rem;
    border-bottom: #ffffff solid 0.5px;
    font-size:2rem;
    font-weight: 400;
    color: #ffffff;
}

h4{
    display: inline;
    margin:0;
    padding:0;
    font-size:0.9rem;
    font-weight: 300;
    color: #505050;
}

a{
    text-decoration: none;
}

.bootcamp-circle p{
    margin:0;
    padding:0;
    font-weight: 700;
    font-size:2.4rem;
}

/***********************MAIN CLASSES*********************/
/*************Base Fonts*****************/
.sig{
    font-weight: bold;
    text-transform: capitalize;
}

.font-blue{
    color:#b6c4db; 
}

.font-purp{
    color: #50447f; 
    font-weight: 600;
}

.font-purp2{
    color:  #50447f; 
    font-weight: 600;
}

.bootcamp p{
    color:#ffffff;
}

/***********************************HEADER********************/
#page-header{
    grid-area: 1/ 1/ 2/ 13;
    position:fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:3rem;
    width:100%;
    padding:0 0 0 1rem;
    background-color: var(--slack);
    box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 6px, rgba(0, 0, 0, 0.4) 0px 3px 6px;
}

.section-header{
    grid-column: 2/ 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:2.8rem;
    margin:0.3rem 0 0 0;
    padding:0 0 0 1rem;
}


/********************************NAV****************************/

#top-nav{
    grid-area: 1/ 1/ 2/ 13;
    position:fixed;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    height:2.8rem;
    width:100%;
    box-sizing: border-box;
    margin:0;
    padding:0.2rem 2rem 0.2rem 2rem; 
}

#top-nav ul{
    display:flex;
    margin: 0;
    padding:0;
}

#top-nav li{
    display:flex;
    align-items: center;
    list-style: none;
    margin:0;
    padding:0;
}

.top-nav-a{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height:100%;
    min-width:fit-content;
    margin: 0.5rem;
    padding:0.3rem;
}

.top-nav-a:hover{
    
    margin:0 0.38rem 0 0.38rem;
    border: 0.12rem solid #50447f;
    border-radius: 0.17rem;
    background-color: #232323;
}

#top-nav-a-current{
    color: #50447f;
    border: 0.12rem solid #50447f;
    border-radius: 0.17rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/**********************************BGs*********************************/
main{
    grid-row: 1/ 13;
    grid-column: 1/ 13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width:auto;
}

.std-section{
    grid-row: 1/ 13;
    grid-column: 1/ 13;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width:auto;
}

/**************************HOME PAGE*****************************/
.pug-section{
    background: linear-gradient(
            rgba(10, 10, 10, 0.8), 
            rgba(10, 10, 10, 0.8)
                ),
        url(images/push-up-girl.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#home-content{
    grid-column: 3/ 7;
    grid-row: 4/ 6;
    display: flex;
    flex-direction: column;
    height:6rem;
    min-width: 15rem;
    flex-wrap: wrap;
    margin-top:0; 
}

.tag-line {
    display:flex;
    height:2rem;
    margin:0;
    padding:0;
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
}

#tag1{
    align-self: flex-start;
    height:4rem;
    word-wrap: wrap;
    align-items: flex-end;
}

#tag2{
    align-self: flex-end;
    min-width: 15rem;
}

/****************************BOOT CAMPS***************************/
.bootcamp-section{
    background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
                ),
        url(images/jogging.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-size:1rem;
}

.article-box{
    grid-row: 4/ 12;
    grid-column: 2/ 12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bootcamp{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    margin: 3rem;
    padding:1rem;
    border:1px solid black;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.45);
    transition: all;
    transition: cubic-bezier(0, 1.49, 1, 1.18);
    transition-duration:  300ms;
}

.bootcamp:hover{
    transform: scale(1.01);
    box-shadow: 7.5px 15px 7.5px rgba(0, 0, 0, 0.45);
    visibility: visible;
}

.bootcamp-button-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin:0 0 1rem 0;
}

.bootcamp a{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:3rem;
    width:7rem;
    transform: scale(0.1);
    border: 0.12rem solid #50447f;
    border-radius: 0.17rem;
    background-color: #232323;
    color:#ffffff;
}

.bootcamp:hover a{
    visibility: visible;
    transition: all;
    transition: cubic-bezier(0, 1.2, 1, 1.18);
    transition-duration:  300ms;
    transform: scale(1);
}

.bootcamp-circle-wrapper{
    display:flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height:6rem;
    width:100%;
    min-width: 20rem;
}

.bootcamp-circle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:7rem;
    width: 7rem;
    box-sizing: border-box;
    margin:0;
    padding: 1rem 0 1.6rem 0;
    border: 0.2rem solid #ffffff;
    border-radius: 50%;
}

#bootcamp1{
    background: linear-gradient(
            rgba(0, 0, 0, 0.95), 
            rgba(0, 0, 0, 0.95)
                ),
        url(images/log-training.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
}

#bootcamp2{
    background: linear-gradient(
            rgba(0, 0, 0, 0.95), 
            rgba(0, 0, 0, 0.95)
                ),
        url(images/women-boxing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/******************************ABOUT***************************/

#about{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/ 13;
    grid-row: 3/ 4;
    background-color: #ffffff;
}

#about-article{
    grid-column: 3/ 7;
}

#kim-bike{
    grid-column: 9/ 11;
    margin-top: 4rem;
    width: 100%;
}



@media only screen and (max-width: 1200px) {
    :root{
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    :root{
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    :root{
        font-size: 10px;
    }
}