/*main CSS*/

body{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    margin:0;
    background: url("images/push-up-girl.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    font-family: Lato, sans-serif;
}

.font-blue{
    color:#b6c4db; 
}

.font-purp{
    color: #50447f  /*36304f #312b49*/; 
    font-weight: 600;
}

.font-purp2{
    color:  #50447f /*#5a4d8e*/; 
    font-weight: 600;
}

#page-header{
    grid-area: 1/ 1/ 2/ 13;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height:3rem;
    padding:0.2rem 0 0.2rem 0;
    background-image: linear-gradient(0deg, #000000, #080808,#1C232B);
}

#nav-heading{
    margin:0.2rem 1rem 0.2rem 2rem;
    color: #b6c4db;
}

#top-nav{
    display:flex;
}

#top-nav ul{
    display:flex;
    margin:0;
}

#top-nav li{
    list-style: none;
    margin:0;
}

.top-nav-a{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height:100%;
    min-width:fit-content;
    padding:0 1rem 0 1rem;
    text-decoration: none;
}

.top-nav-a:hover{
    
    padding:0 0.8rem 0 0.8rem;
    border: 0.2rem solid #36304f;
}

#top-nav-a-current{
    color: #50447f;
    font-weight: 600;
}

main{
    display: grid;
    grid-column: 1/ 13;
    grid-template-columns: repeat(12,1fr);
}

#main-tag-line{
    grid-column: 2/ 7;
    display: flex;
    margin-top:33%;
}

.tag-line {
    flex-direction: column;
    margin:0;
    padding:0;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

#behere-tag{
    margin-top:0.6rem;
    margin-left:0.1rem;
    font-weight: 600;
}